<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="glueRequestDispatcher" class="com.lgdisplay.bigdata.api.service.glue.controller.GlueRequestDispatcher">
        <property name="commands">
            <list>
                <bean class="com.lgdisplay.bigdata.api.service.glue.commands.CreateJobRequestCommand"/>
                <bean class="com.lgdisplay.bigdata.api.service.glue.commands.DeleteJobRequestCommand"/>
                <bean class="com.lgdisplay.bigdata.api.service.glue.commands.GetJobRequestCommand"/>
                <bean class="com.lgdisplay.bigdata.api.service.glue.commands.StartJobRunRequestCommand"/>
                <bean class="com.lgdisplay.bigdata.api.service.glue.commands.UpdateJobRequestCommand"/>
                <bean class="com.lgdisplay.bigdata.api.service.glue.commands.GetJobsRequestCommand"/>
                <bean class="com.lgdisplay.bigdata.api.service.glue.commands.ListJobsRequestCommand"/>
                <bean class="com.lgdisplay.bigdata.api.service.glue.commands.BatchGetJobsRequestCommand"/>
                <bean class="com.lgdisplay.bigdata.api.service.glue.commands.GetJobRunRequestCommand"/>
                <bean class="com.lgdisplay.bigdata.api.service.glue.commands.GetJobRunsRequestCommand"/>
                <bean class="com.lgdisplay.bigdata.api.service.glue.commands.CreateTriggerRequestCommand"/>
                <bean class="com.lgdisplay.bigdata.api.service.glue.commands.DeleteTriggerRequestCommand"/>
                <bean class="com.lgdisplay.bigdata.api.service.glue.commands.UpdateTriggerRequestCommand"/>
            </list>
        </property>
    </bean>

</beans>